flows.json
[{"id":"17d712dd.8402cd","type":"tab","label":"AC-Soggiorno","disabled":false,"info":""},{"id":"dabb081d.ce71b8","type":"inject","z":"17d712dd.8402cd","name":"Ogni 5 minuti","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":660,"wires":[["62e55a19.9758c4"]]},{"id":"536854bf.145f5c","type":"api-current-state","z":"17d712dd.8402cd","name":"Thom soggiorno > Maximum","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"thom_maximum","halt_if_type":"msg","halt_if_compare":"gte","entity_id":"sensor.indice_thom_soggiorno","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":920,"y":620,"wires":[["a5afcdc5.beb4e"],["95b62b2a.f39be8"]]},{"id":"95b62b2a.f39be8","type":"api-current-state","z":"17d712dd.8402cd","name":"Thom soggiorno < Minimum","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"thom_minimum","halt_if_type":"msg","halt_if_compare":"lt","entity_id":"sensor.indice_thom_soggiorno","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1000,"y":800,"wires":[["c7b2395c.127fc8"],[]]},{"id":"a5afcdc5.beb4e","type":"api-current-state","z":"17d712dd.8402cd","name":"Famiglia a casa?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"group.famiglia","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1210,"y":620,"wires":[["53b9e0e4.51919"],["235505b1.573b4a"]]},{"id":"53b9e0e4.51919","type":"api-current-state","z":"17d712dd.8402cd","name":"Clima Spento?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.condizionatore_soggiorno","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1420,"y":140,"wires":[["848af1f4.bee19"],[]]},{"id":"aba110e.f817ef","type":"api-current-state","z":"17d712dd.8402cd","name":"Thom soggiorno> maximum_nobody_home","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"thom_maximum_nobody_home","halt_if_type":"msg","halt_if_compare":"gte","entity_id":"sensor.indice_thom_soggiorno","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2330,"y":180,"wires":[["572cd1a9.eacde","c8e88232.f4359"],[]]},{"id":"235505b1.573b4a","type":"api-current-state","z":"17d712dd.8402cd","name":"Clima Spento?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.condizionatore_soggiorno","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1600,"y":560,"wires":[["b15d62cb.11703"],[]]},{"id":"c7b2395c.127fc8","type":"api-current-state","z":"17d712dd.8402cd","name":"Clima Spento?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.condizionatore_soggiorno","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":920,"y":1380,"wires":[[],["f7332464.a52d08","c0b33913.d16fa8"]]},{"id":"f7332464.a52d08","type":"api-call-service","z":"17d712dd.8402cd","name":"","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"climate","service":"turn_off","areaId":[],"deviceId":[],"entityId":["climate.condizionatore_soggiorno"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1170,"y":1380,"wires":[[]]},{"id":"c0b33913.d16fa8","type":"delay","z":"17d712dd.8402cd","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1140,"y":1500,"wires":[["3fcbcf63.00293"]]},{"id":"3fcbcf63.00293","type":"api-current-state","z":"17d712dd.8402cd","name":"Clima Spento?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.condizionatore_soggiorno","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1360,"y":1500,"wires":[[],["1982c158.c2a39f"]]},{"id":"1982c158.c2a39f","type":"api-call-service","z":"17d712dd.8402cd","name":"","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_di_domenico","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\" : \"Non sono riuscito a spegnere il clima\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1660,"y":1500,"wires":[[]]},{"id":"6fcb9172.13b5f","type":"api-call-service","z":"17d712dd.8402cd","name":"","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_di_domenico","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\" : \"ERRORE - Non sono riuscito ad accendere il clima con voi a casa\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":2240,"y":800,"wires":[[]]},{"id":"7145eb0b.dde5d4","type":"delay","z":"17d712dd.8402cd","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1740,"y":820,"wires":[["4c746b95.e795e4"]]},{"id":"572cd1a9.eacde","type":"delay","z":"17d712dd.8402cd","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":2880,"y":220,"wires":[["424f6fa8.e4a98"]]},{"id":"4c746b95.e795e4","type":"api-current-state","z":"17d712dd.8402cd","name":"Clima Spento?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.condizionatore_soggiorno","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1920,"y":820,"wires":[["6fcb9172.13b5f"],["4729823a.b0ac2c"]]},{"id":"4729823a.b0ac2c","type":"api-call-service","z":"17d712dd.8402cd","name":"","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_di_domenico","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\" : \"Clima acceso con voi a casa\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":2240,"y":840,"wires":[[]]},{"id":"8993efed.097c6","type":"api-call-service","z":"17d712dd.8402cd","name":"","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_di_domenico","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\" : \"ERRORE - Non sono riuscito ad accendere il clima con voi fuori casa\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":3380,"y":200,"wires":[[]]},{"id":"424f6fa8.e4a98","type":"api-current-state","z":"17d712dd.8402cd","name":"Clima Spento?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.condizionatore_soggiorno","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":3060,"y":220,"wires":[["8993efed.097c6"],["8dbfd28d.38ae9"]]},{"id":"8dbfd28d.38ae9","type":"api-call-service","z":"17d712dd.8402cd","name":"","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_di_domenico","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\" : \"Clima acceso con voi fuori casa\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":3380,"y":240,"wires":[[]]},{"id":"43c34acc.cae494","type":"catch","z":"17d712dd.8402cd","name":"","scope":null,"uncaught":false,"x":180,"y":1740,"wires":[["98a2248d.3f4658"]]},{"id":"9d0af541.8e0a78","type":"api-call-service","z":"17d712dd.8402cd","name":"","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_di_domenico","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\" : \"ERRORE Routine Alexa: {{{payload}}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":780,"y":1740,"wires":[[]]},{"id":"98a2248d.3f4658","type":"change","z":"17d712dd.8402cd","name":"","rules":[{"t":"set","p":"object","pt":"msg","to":"error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1740,"wires":[["5bb866bc.c5b298"]]},{"id":"5bb866bc.c5b298","type":"change","z":"17d712dd.8402cd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(object[0].message)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1740,"wires":[["9d0af541.8e0a78"]]},{"id":"95808e9.fe6257","type":"api-current-state","z":"17d712dd.8402cd","name":"Finestre aperte?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.finestreaperte","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2000,"y":500,"wires":[["a4f93671.cd3be8"],["7145eb0b.dde5d4","c8e88232.f4359"]]},{"id":"a4f93671.cd3be8","type":"api-call-service","z":"17d712dd.8402cd","name":"","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_di_domenico","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\" : \"WARNING- Non sono riuscito ad accendere il clima perchè ci sono delle finestre aperte\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":2020,"y":340,"wires":[[]]},{"id":"2b0879ea.50ed36","type":"server-state-changed","z":"17d712dd.8402cd","name":"Aperto una finestra","server":"e5f6132f.d789d","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_boolean.finestreaperte","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":1300,"wires":[["747e03b6.1eec5c"],[]]},{"id":"e1d7a6b7.5d8a48","type":"delay","z":"17d712dd.8402cd","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":510,"y":1380,"wires":[["64d02178.d7347"]]},{"id":"9a9010ee.66426","type":"api-current-state","z":"17d712dd.8402cd","name":"Finestre aperte?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.finestreaperte","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1960,"y":200,"wires":[["a4f93671.cd3be8"],["aba110e.f817ef"]]},{"id":"64d02178.d7347","type":"api-current-state","z":"17d712dd.8402cd","name":"Finestre aperte?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.finestreaperte","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":1380,"wires":[["c7b2395c.127fc8","e3a7bfcd.22f13"],[]]},{"id":"6b8ef80f.2c46c8","type":"api-call-service","z":"17d712dd.8402cd","name":"","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_di_domenico","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\" : \"WARNING- Ho spento il clima che ci sono delle finestre aperte\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":760,"y":1500,"wires":[[]]},{"id":"e9fea915.753708","type":"inject","z":"17d712dd.8402cd","name":"Ogni 30 minuti","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["421710fe.16fe1"]]},{"id":"5697484b.f10038","type":"api-current-state","z":"17d712dd.8402cd","name":"","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"climate.condizionatore_soggiorno","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":460,"y":340,"wires":[["55198c93.0d9344"],[]]},{"id":"55198c93.0d9344","type":"switch","z":"17d712dd.8402cd","name":"Check HVAC Type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"dry","vt":"str"},{"t":"eq","v":"cool","vt":"str"},{"t":"eq","v":"heat","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":110,"y":460,"wires":[["1294c147.50123f"],["df99552c.5e68d8"],[]]},{"id":"1294c147.50123f","type":"api-current-state","z":"17d712dd.8402cd","name":"Umidità sopra limite","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"limite_humidity_dry_or_cold","halt_if_type":"msg","halt_if_compare":"gte","entity_id":"sensor.ble_soggiorno_humidity","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":450,"y":400,"wires":[[],["d676fac8.521d68"]]},{"id":"d676fac8.521d68","type":"api-call-service","z":"17d712dd.8402cd","name":"Imposta Cold","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"climate.condizionatore_soggiorno\",\"hvac_mode\":\"cool\",\"temperature\":\"{{gradi_cold}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":690,"y":400,"wires":[[]]},{"id":"df99552c.5e68d8","type":"api-current-state","z":"17d712dd.8402cd","name":"Umidità sopra limite","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"limite_humidity_dry_or_cold","halt_if_type":"msg","halt_if_compare":"gte","entity_id":"sensor.ble_soggiorno_humidity","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":350,"y":460,"wires":[["1313d8fd.43a487"],[]]},{"id":"1313d8fd.43a487","type":"api-call-service","z":"17d712dd.8402cd","name":"Imposta Dry","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"climate.condizionatore_soggiorno\",\"hvac_mode\":\"dry\",\"temperature\":\"{{gradi_dry}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":610,"y":460,"wires":[[]]},{"id":"62e55a19.9758c4","type":"api-current-state","z":"17d712dd.8402cd","name":"Automatic Climate ON","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automatic_climate","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":140,"y":720,"wires":[["7e14b9f4.a25498"],[]]},{"id":"df2d1de.cf68ce","type":"api-current-state","z":"17d712dd.8402cd","name":"Automatic Climate ON","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automatic_climate","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":140,"y":380,"wires":[["5697484b.f10038"],[]]},{"id":"747e03b6.1eec5c","type":"api-current-state","z":"17d712dd.8402cd","name":"Climate Check Windows","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.climate_check_windows","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":270,"y":1380,"wires":[["e1d7a6b7.5d8a48"],[]]},{"id":"4c56af3d.cba3","type":"comment","z":"17d712dd.8402cd","name":"Spegno clima se finestre aperte","info":"","x":250,"y":1240,"wires":[]},{"id":"5ca2096b.c22b88","type":"comment","z":"17d712dd.8402cd","name":"Faccio un check della situazione ogni 5 minuti","info":"","x":190,"y":600,"wires":[]},{"id":"a8083595.d78ac8","type":"comment","z":"17d712dd.8402cd","name":"In caso di fuori casa","info":"","x":2250,"y":20,"wires":[]},{"id":"5f82a85e.d7eb78","type":"comment","z":"17d712dd.8402cd","name":"In caso di qualcuno a casa","info":"","x":2290,"y":400,"wires":[]},{"id":"e3a7bfcd.22f13","type":"api-current-state","z":"17d712dd.8402cd","name":"Clima Spento?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.condizionatore_soggiorno","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":640,"y":1440,"wires":[[],["6b8ef80f.2c46c8"]]},{"id":"421710fe.16fe1","type":"ha-get-entities","z":"17d712dd.8402cd","name":"input_number.limite_humidity_dry_or_cold","server":"e5f6132f.d789d","version":1,"rules":[{"property":"entity_id","logic":"is","value":"input_number.limite_humidity_dry_or_cold","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":200,"y":160,"wires":[["8f395a12.220338"]]},{"id":"8f395a12.220338","type":"change","z":"17d712dd.8402cd","name":"limite_humidity_dry_or_cold","rules":[{"t":"set","p":"limite_humidity_dry_or_cold","pt":"msg","to":"$number(payload[0].state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":180,"wires":[["724aa2f4.f176dc"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"7381ecfb.cb0584","type":"comment","z":"17d712dd.8402cd","name":"Check ogni 30 minuti se umidità > di valore stabilito vai con deumidificatore","info":"","x":360,"y":40,"wires":[]},{"id":"7e14b9f4.a25498","type":"ha-get-entities","z":"17d712dd.8402cd","name":"input_number.thom_maximum","server":"e5f6132f.d789d","version":1,"rules":[{"property":"entity_id","logic":"is","value":"input_number.thom_maximum","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":190,"y":820,"wires":[["318076f6.73c7da"]]},{"id":"318076f6.73c7da","type":"change","z":"17d712dd.8402cd","name":"thom_maximum","rules":[{"t":"set","p":"thom_maximum","pt":"msg","to":"$number(payload[0].state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":820,"wires":[["c9f35d2d.a49b4"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"c9f35d2d.a49b4","type":"ha-get-entities","z":"17d712dd.8402cd","name":"input_number.thom_minimum","server":"e5f6132f.d789d","version":1,"rules":[{"property":"entity_id","logic":"is","value":"input_number.thom_minimum","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":190,"y":860,"wires":[["3f4b37bc.45d0a8"]]},{"id":"3f4b37bc.45d0a8","type":"change","z":"17d712dd.8402cd","name":"thom_minimum","rules":[{"t":"set","p":"thom_minimum","pt":"msg","to":"$number(payload[0].state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":860,"wires":[["9aac0cd8.8d8e2"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"9aac0cd8.8d8e2","type":"ha-get-entities","z":"17d712dd.8402cd","name":"input_number.thom_minimum_nobody_home","server":"e5f6132f.d789d","version":1,"rules":[{"property":"entity_id","logic":"is","value":"input_number.thom_minimum_nobody_home","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":230,"y":900,"wires":[["10edd56b.048bdb"]]},{"id":"10edd56b.048bdb","type":"change","z":"17d712dd.8402cd","name":"thom_minimum_nobody_home","rules":[{"t":"set","p":"thom_minimum_nobody_home","pt":"msg","to":"$number(payload[0].state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":900,"wires":[["ae546248.7da95"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"ae546248.7da95","type":"ha-get-entities","z":"17d712dd.8402cd","name":"input_number.thom_maximum_nobody_home","server":"e5f6132f.d789d","version":1,"rules":[{"property":"entity_id","logic":"is","value":"input_number.thom_maximum_nobody_home","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":240,"y":940,"wires":[["1a40734a.d8f5bd"]]},{"id":"1a40734a.d8f5bd","type":"change","z":"17d712dd.8402cd","name":"thom_maximum_nobody_home","rules":[{"t":"set","p":"thom_maximum_nobody_home","pt":"msg","to":"$number(payload[0].state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":940,"wires":[["4efd6565.9b627c"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"4ab063fd.fda17c","type":"comment","z":"17d712dd.8402cd","name":"Recupero Variabili","info":"","x":310,"y":780,"wires":[]},{"id":"4efd6565.9b627c","type":"ha-get-entities","z":"17d712dd.8402cd","name":"input_number.gradi_cold","server":"e5f6132f.d789d","version":1,"rules":[{"property":"entity_id","logic":"is","value":"input_number.gradi_cold","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":170,"y":980,"wires":[["ec7cc5af.1d69d8"]]},{"id":"ec7cc5af.1d69d8","type":"change","z":"17d712dd.8402cd","name":"gradi_cold","rules":[{"t":"set","p":"gradi_cold","pt":"msg","to":"$number(payload[0].state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":980,"wires":[["73b399a2.f11c88"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"73b399a2.f11c88","type":"ha-get-entities","z":"17d712dd.8402cd","name":"input_number.gradi_dry","server":"e5f6132f.d789d","version":1,"rules":[{"property":"entity_id","logic":"is","value":"input_number.gradi_dry","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":170,"y":1020,"wires":[["9ded0604.a63ed8"]]},{"id":"9ded0604.a63ed8","type":"change","z":"17d712dd.8402cd","name":"gradi_dry","rules":[{"t":"set","p":"gradi_dry","pt":"msg","to":"$number(payload[0].state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1020,"wires":[["194c75fb.9ffbda"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"724aa2f4.f176dc","type":"ha-get-entities","z":"17d712dd.8402cd","name":"input_number.gradi_cold","server":"e5f6132f.d789d","version":1,"rules":[{"property":"entity_id","logic":"is","value":"input_number.gradi_cold","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":170,"y":220,"wires":[["9c6a80d6.d03b5"]]},{"id":"9c6a80d6.d03b5","type":"change","z":"17d712dd.8402cd","name":"gradi_cold","rules":[{"t":"set","p":"gradi_cold","pt":"msg","to":"$number(payload[0].state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":240,"wires":[["dac0b269.e70e4"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"dac0b269.e70e4","type":"ha-get-entities","z":"17d712dd.8402cd","name":"input_number.gradi_dry","server":"e5f6132f.d789d","version":1,"rules":[{"property":"entity_id","logic":"is","value":"input_number.gradi_dry","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":170,"y":300,"wires":[["c6234501.4c8668"]]},{"id":"c6234501.4c8668","type":"change","z":"17d712dd.8402cd","name":"gradi_dry","rules":[{"t":"set","p":"gradi_dry","pt":"msg","to":"$number(payload[0].state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["df2d1de.cf68ce"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"b15d62cb.11703","type":"api-current-state","z":"17d712dd.8402cd","name":"Controllo Finestre?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.controllofinestre","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1830,"y":560,"wires":[["95808e9.fe6257"],["7145eb0b.dde5d4","c8e88232.f4359"]]},{"id":"848af1f4.bee19","type":"api-current-state","z":"17d712dd.8402cd","name":"Controllo Finestre?","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.climate_check_windows","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1750,"y":120,"wires":[["9a9010ee.66426"],["aba110e.f817ef"]]},{"id":"194c75fb.9ffbda","type":"ha-get-entities","z":"17d712dd.8402cd","name":"input_number.limite_humidity_dry_or_cold","server":"e5f6132f.d789d","version":1,"rules":[{"property":"entity_id","logic":"is","value":"input_number.limite_humidity_dry_or_cold","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":220,"y":1080,"wires":[["c8fa1029.81d51"]]},{"id":"c8fa1029.81d51","type":"change","z":"17d712dd.8402cd","name":"limite_humidity_dry_or_cold","rules":[{"t":"set","p":"limite_humidity_dry_or_cold","pt":"msg","to":"$number(payload[0].state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1080,"wires":[["536854bf.145f5c"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"c8e88232.f4359","type":"api-current-state","z":"17d712dd.8402cd","name":"Umidità sopra limite","server":"e5f6132f.d789d","version":3,"outputs":2,"halt_if":"limite_humidity_dry_or_cold","halt_if_type":"msg","halt_if_compare":"gte","entity_id":"sensor.ble_soggiorno_humidity","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2790,"y":480,"wires":[["87e25ee.c1205a"],["fe692f63.a3a5d"]]},{"id":"fe692f63.a3a5d","type":"api-call-service","z":"17d712dd.8402cd","name":"Imposta Cold","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"climate.condizionatore_soggiorno\",\"hvac_mode\":\"cool\",\"temperature\":\"{{gradi_cold}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":3370,"y":580,"wires":[[]]},{"id":"87e25ee.c1205a","type":"api-call-service","z":"17d712dd.8402cd","name":"Imposta Dry","server":"e5f6132f.d789d","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"climate.condizionatore_soggiorno\",\"hvac_mode\":\"dry\",\"temperature\":\"{{gradi_dry}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":3370,"y":420,"wires":[[]]},{"id":"e5f6132f.d789d","type":"server","name":"Home Assistant","addon":true}]
